---
layout: default
---

<div class="post">
    <h2><a href="{{ post.url }}">{{ page.title }}</a></h2>

    <div class="post-date">{{ page.date | date: "%B %-d, %Y" }}</div>

    <ul class="post-share list-inline">
        <li>
            <a class="post-share-twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}-{{ site.name }}&url={{ site.url }}{{ page.url }}">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li>
            <a class="post-share-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li>
            <a class="post-share-google" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li>
            <a class="post-share-pinterest" href="https://www.pinterest.com/pin/create/button?url={{ site.url }}{{ page.url }}">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
    </ul>

    <div class="browser-frame">
        <div class="browser-top-bar">
            <span class="browser-button-wrapper">
                <span class="browser-button"></span>
                <span class="browser-button"></span>
                <span class="browser-button"></span>
            </span>
            <span class="browser-address"><a href="http://{{ page.source }}">{{ page.source }}</a></span>
        </div>
        <div class="browser-container">
            {{ page.content }}
        </div>
    </div>
</div>

<div class="paginator">
    {% if page.previous.url %}
        <a href="{{ page.previous.url }}" class="older">Previous</a>
    {% else %}
        <span class="older">Previous</span>
    {% endif %}

    {% if page.next.url %}
        <a href="{{ page.next.url }}" class="newer">Next</a>
    {% else %}
        <span class="newer">Next</span>
    {% endif %}
</div>

{% if site.disqus %}
<div class="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
    var disqus_shortname = '{{ site.disqus }}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
</div>
{% endif %}